[Unit]
Description=Fabio is an HTTP and TCP reverse proxy that configures itself with data from Consul.
Documentation=https://fabiolb.net
Requires=network-online.target
After=network-online.target

[Service]
User=fabio
Group=fabio
WorkingDirectory=/
LimitMEMLOCK=infinity
LimitNOFILE=65535
Type=simple
EnvironmentFile=-/etc/sysconfig/fabio
PassEnvironment=VAULT_ADDR VAULT_TOKEN
ExecStart=/usr/bin/fabio $OPTIONS
ExecReload=/bin/true
Restart=always
KillSignal=SIGINT
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
